nav {
  padding: 20px;
}

a {
  text-decoration: none;
}

nav > a {
  background-color: black;
  color: orange;
  font-size: 23px;
  padding: 10px 20px;
  border-radius: 10px;
  margin-inline-end: 20px;
}

.homeImg {
  width: 500px;
  text-align: center;
  margin-top: 10px;
}

.main {
  padding: 20px;
}